@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --Blue: hsl(246, 80%, 60%);
/* work */
    --Light-orange: hsl(15, 100%, 70%);
/* play */
    --Soft-blue: hsl(195, 74%, 62%);
/* study */
    --Light: hsl(348, 100%, 68%);
/* exercise */
    --Lime-green: hsl(145, 58%, 55%);
 /* social */
    --Violet: hsl(264, 64%, 52%);
/* self-care */
    --Soft-yellow: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Lighter-blue: hsl(237, 44%, 32%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    --White: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-blue);
    min-height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    position: relative;
    width: auto;
    min-height: 500px;
}

.side-panel{
    /* height: 400px; */
    min-width: 200px;
    height: 100%;
    border-radius: 15px;
    background-color: var(--Dark-blue);
    overflow: hidden;
    margin-right: 20px;
}

.user-panel{
    min-height: 300px;
    padding: 1.5em;
    background-color: var(--Desaturated-blue);
    border-radius: 15px;
}

.user-panel img{
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid var(--White);
    margin-bottom: 1em;
}

.user-panel h3{
    font-size: 0.75rem;
    color: var(--Pale-Blue);
    margin-bottom: 1em;
}

.user-panel h1{
    font-weight: 300;
    color: var(--White);
    text-wrap: wrap;
}

.settings{
    all: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5em;
    list-style-type: none;
    height: 100vh;
    max-height: 200px;
}

.settings *{
    all: none;
    color: var(--White);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.settings *:hover{
    color: var(--Pale-Blue);
}

.settings *:focus{
    color: var(--Desaturated-blue);
}

.activities{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;
}

.activity-container{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    height: 240px;
    width: 100vw;
    max-width: 260px;
    padding-top: 3em;
    /* z-index: -2; */
}

.activity{
    position: relative;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: var(--Dark-blue);
    padding: 1em;
    font-weight: 300;
    color: var(--White);
    cursor: pointer;
}
.activity:hover{
    background-color: var(--Lighter-blue);
}

.activity h1{
    font-size: 2.5rem;
    font-weight: inherit;
    margin-bottom: 0.5em;
}

.activity p{
    font-size: 0.75rem;
    font-weight: inherit;
    color: var(--Pale-Blue);
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.icons h3{
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
}

.icons button{
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: white;
}

.work{
    background-color: var(--Light-orange);
}

.work::before, .play::before, .study::before, .exercise::before, .social::before, .care::before{
    position: absolute;
    content: ' ';
    height: 50px;
    width: 50px;
    background-image: url(icon-work.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    top: -2px;
    right: -1px;
    z-index: 1;
}

.play{
    background-color: var(--Soft-blue);
}

.play::before{
    background-image: url('icon-play.svg');
}

.study{
    background-color: var(--Light);
}

.study::before{
    background-image: url(icon-study.svg);
}

.exercise{
    background-color: var(--Lime-green);
}

.exercise::before{
    background-image: url(icon-exercise.svg);
}

.social{
    background-color: var(--Violet);
}

.social::before{
    background-image: url(icon-social.svg);
}

.care{
    background-color: var(--Soft-yellow);
}

.care::before{
    background-image: url(icon-self-care.svg);
}

@media (max-width: 1050px){
    body{
        align-items: start;
        padding: 20px;
        /* padding-top: 50px; */
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 750px;
    }

    
    .side-panel{
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .user-panel{
        min-height: 200px
    }

    .settings{
        flex-direction: row;
        height: auto;
        justify-content: space-evenly;
    }

    .settings {
        font-size: 1.5rem;
    }

    .activities{
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .activity-container{
        width: auto;
        max-width: none;
    }
}

@media (max-width: 650px){
    .container{
        align-items: center;
        justify-content: center;
        width: auto;
        width: 100%;
        max-width: 375px;
    }

    .side-panel{
        max-width: 375px;
    }

    .activities{
        grid-template-columns: 1fr;
    }
    .activity-container{
        width: 100%;
        max-width: 375px;
        height: 200px;
    }
} 


